*.d
*.o
*.a
*.pc
*.cdg
*.jpg
*.avi
*.mp4
*.mov
*.ogg
*.au
*.mpg
*.m3u
*.log
*.diff
*.patch
*~
#*#
/ffmpeg
/ffmpeg_g
/ffplay
/ffplay_g
/ffserver
/ffserver_g
/config.h
/version.h
/config.err
/config.mak
.project
doxy
libswscale